<!--#1. This line of code tells the templating engine (Jinja) to use
"venv/Lib/site-packages/flask_bootstrap/templates/bootstrap/base.html" as the template for this page.-->
{% extends "bootstrap/base.html" %}

<!--#2. This block inserts a custom title into the header of the template.-->
{% block title %}Welcome Home{% endblock %}

<!--#3. This block provides the content of the website. The part that is going to vary between webpages.-->
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome</h1>
        <p>Are you ready to discover my secret?</p>
<!--        You cannot have an href field in an HTML button-->
<!--        <button class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</button>-->
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a>

    </div>
</div>

{% endblock %}
