<!--#1. This line of code tells the templating engine (Jinja) to use
"venv/Lib/site-packages/flask_bootstrap/templates/bootstrap/base.html" as the template for this page.-->
{% extends "bootstrap/base.html" %}

<!-- import HTML from "venv/Lib/site-packages/flask_bootstrap/templates/bootstrap/wtf.html" -->
{% import 'bootstrap/wtf.html' as wtf %}

<!--#2. This block inserts a custom title into the header of the template.-->
{% block title %}Login{% endblock %}

<!--#3. This block provides the content of the website. The part that is going to vary between webpages.-->
{% block content %}

<link href="/static/my_styles.css" rel="stylesheet">

<div class="container">
    <h1>Login</h1>

    {{ wtf.quick_form(form, novalidate=True) }}

</div>

{% endblock %}
